/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');


html{
  background-color: #2d2d2d !important;
  color: white !important;
}
body{
  background-color: #2d2d2d !important;
  color: white !important;
}
.main-box{
  background-color: #3d3d3d;
}
.dark-box{
  background-color: #2d2d2d !important;
  color: white !important;
}
.date-alert{
  background-color: #3f51b5;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
}

.top-title{
  background-color: #5a9e6f;
  color: white;
  margin-bottom: 5px;
}
.md-calendar-day-header{
  background-color: #3f51b5;
  color: white;
}

.validate-error{
  font-size: 14px;
  color: #f48024;
  padding-left: 11px;
}
.xnav-main{
  background-color: #393939;
  border-bottom: 3px solid #f48024;
}

#navbarNav{
  justify-content: flex-end;
  margin-right: 100px;
}

.empty-img{
  width: 50%;
}
.empty-search-img{
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .empty-img{
    width: 100%;
  }
  .empty-search-img{
    width: 50%;
  }
  .sticky-top{
    position: relative !important;
  }
  .footer{
    display: none;
  }
  .bottom-menu{
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}
.empty-msg{
  font-family: 'Handlee', cursive;
}
.see-more{
  float: right;
  padding: 2px 30px;
  background-color: #3f51b5;
  border-radius: 30px;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #121212;
  color:white;
}
.bottom-menu-icon{
  color: white;
}
.bottom-menu-title{
  display: block;
  font-size: 13px;
  color: #ffffff;
}
.title-column{
  border-top: 3px solid black;
}
.active-title-column{
  border-top: 3px solid #5a9e6f;
}
.active-title, .active-menu-icon{
  color:#5a9e6f ;
}

.bottom-menu{
  background-color: black;
  display: none;
}

.last-box{
  margin-bottom:75px !important;
}