<div class="container" style="background-color: #2d2d2d">
    <!--Calendar and Current events-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" style="width: 100%" id="home">
            <div class="col-md-12">
                <div flex-order="0" flex-order-gt-sm="2" layout="column">
                    <md-subheader class="top-title">Recently completed event {{lan.data.TITLE}}
                    </md-subheader>
                </div>
                <div class="events">
                    <div ng-repeat="x in evList |filter:{complete:true}|orderBy: ['-eventsDate','eventEtime'] | limitTo:1">
                           <span >
                               <div class="card mb-2" style="width: 100%; border: 0">
                                <div class="card-body dark-box">
                                    <div class="row">
                                        <div class="col-8">
                                            <h4 class="card-title">Event : <span ng-bind="x.eventName" class="ng-binding"></span></h4>
                                        </div>
                                        <div class="col-4" style="text-align: end;">

                                   <md-button class="md-icon-button md-warn" aria-label="More" ng-confirm-click="" confirmed-click='ctrl.delete(x.id)'>
                                       <md-icon md-svg-icon="images/bin.svg"></md-icon>
                                   </md-button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="card-subtitle mb-2 text-muted">Description:  <span ng-bind="x.eventDes" class="ng-binding">sad</span></h6>
                                        </div>
                                    </div>

                                    <div class="row" style="width: 100%;">
                                        <div class="col-md-4">
                                            Date: <span> {{x.eventsDate|date:shortDate}}</span>
                                        </div>

                                        <div class="col-md-4">
                                            Start Time: <span> {{x.eventStime | date:"hh:mm a"}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            End Time: <span> {{x.eventEtime | date:"hh:mm a"}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                           </span>
                    </div>

                </div>
            </div>

    </div>



    <!--View All Events-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" style="width: 100%" id="view-events">
        <div class="row top-title mr-1 ml-1"  style="width: 100%">
            <div class="col">
                <div flex-order="0" flex-order-gt-sm="2" layout="column">
                    <md-subheader class="top-title">All Completed Events</md-subheader>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center empty-msg" ng-if="evList.length == 0">
            <img src="https://assets-ouch.icons8.com/preview/606/90c1f2d7-b42f-4d7e-9d17-e183179862b7.png" class="empty-img" alt="">
            <h3>It's Empty Here,<a href="/#evx"><md-button class="md-raised md-primary" ng-click="ctrl.ShowHide(true)">Add New event</md-button></a> to continue!</h3>

        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mb-2" ng-repeat="x in evList|filter:{complete:true}| orderBy:['eventsDate','eventStime'] |limitTo:cards track by $index">
                    <div class="card mb-2" style="width: 100%; border: 0">
                        <div class="card-body dark-box">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title">Event : <span ng-bind="x.eventName" class="ng-binding"></span></h4>
                                </div>
                                <div class="col-4">
                                    <div class="row float-right">
                                        <md-button class="md-icon-button md-warn" aria-label="More"  ng-confirm-click="" confirmed-click='ctrl.delete(x.id)'>
                                            <md-icon md-svg-icon="images/bin.svg"></md-icon>
                                        </md-button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="card-subtitle mb-2 text-muted"><span ng-bind="x.eventDes" class="ng-binding"></span></h6>
                                </div>
                            </div>
                            <div class="row" style="width: 100%;">
                                <div class="col-md-4">
                                    Start Date: <span> {{x.eventsDate|date:shortDate}}</span>
                                </div>

                                <div class="col-md-4">
                                    Start Time: <span> {{x.eventStime| date:"hh:mm a"}}</span>
                                </div>
                                <div class="col-md-4">
                                    End Time: <span> {{x.eventEtime | date:"hh:mm a"}}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <md-button ng-hide="evList.length<= cards" class="md-raised md-primary see-more" ng-click="seeMore()" >see more</md-button>
        </div>

    </div>


</div>