<div class="container" style="background-color: #2d2d2d">
    <!--Calendar and Current events-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" style="width: 100%" id="home">
        <div class="col-md-7 mb-2">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card" style="width: 100%; border: 0">
                        <div class="card-body dark-box">
                            <h4 class="card-title">Event Organizer</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Built with AngularJS</h6>
                            <p class="card-text">
                                Manage your events with easy and express way!
                                separate User interface for Mobile devices.
                                you can visit live demo here!
                                <a href="https://events.dasunx.com" target="_blank">Go live</a>
                            </p>
                            <md-button class="md-raised md-warn" ng-click="ctrl.goto('view-events')">View Events</md-button>
                            <md-button class="md-raised md-primary" ng-click="ctrl.ShowHide(true)">Add New event</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div flex-order="0" flex-order-gt-sm="2" layout="column">
                        <md-subheader class="top-title">Next Event : <span id="timeremaining" class="timeremaining">No Upcoming event</span>
                        </md-subheader>
                    </div>
                    <div class="events">
                        <div ng-repeat="x in evList |filter:{complete:false}|orderBy: ['eventsDate','eventStime'] | limitTo:1">
                            <div class="card mb-2" style="width: 100%; border: 0">
                                <div class="card-body dark-box">
                                    <div class="row">
                                        <div class="col-8">
                                            <h4 class="card-title">Event :<span ng-bind="x.eventName" class="ng-binding"></span>  <span ng-bind="intervCal(x.id)"></span> </h4>
                                        </div>
                                        <div class="col-4">
                                            <div class="row float-right">
                                                <md-button class="md-icon-button md-primary" aria-label="More"  ng-click="ctrl.edit(x.id)">
                                                    <md-icon md-svg-icon="images/edit.svg"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button md-warn" aria-label="More"  ng-confirm-click="" confirmed-click='ctrl.delete(x.id)'>
                                                    <md-icon md-svg-icon="images/bin.svg"></md-icon>
                                                </md-button>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="card-subtitle mb-2 text-muted"><span ng-bind="x.eventDes" class="ng-binding"></span></h6>
                                        </div>
                                    </div>

                                    <div class="row" style="width: 100%;">
                                        <div class="col-md-4">
                                            Date: <span> {{x.eventsDate|date:shortDate}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            Start Time: <span> {{x.eventStime| date:"hh:mm a"}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            End Time: <span> {{x.eventEtime | date:"hh:mm a"}}</span>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-2">
            <div flex-order="1" flex-order-gt-sm="0" layout="column">
                <md-subheader class="top-title">Select Date</md-subheader>
                <md-calendar ng-model="ctrl.startDate" style="align-self: center" ng-change="ctrl.changeDate()"></md-calendar>
            </div>
        </div>
    </div>

    <!--daily events-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" style="width: 100%" id="view-daily-events">
        <div class="row top-title mr-1 ml-1"  style="width: 100%">
            <div class="col">
                <div flex-order="0" flex-order-gt-sm="2" layout="column">
                    <md-subheader class="top-title">Daily Events of<span class="date-alert ml-2">{{ctrl.startDate | date:shortDate}}</span></md-subheader>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center empty-msg" ng-hide="IsTodayPosts">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/search.svg" class="empty-search-img" alt="">
                </div>
                <div class="col-md-8">
                    <h3 class="mt-md-5 pt-md-5">HMM... Looks like no events here, Anything Missing? <md-button class="md-raised md-primary" ng-click="ctrl.ShowHide(true)">Add New event</md-button></h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mb-2" ng-repeat="x in evList |filter: {eventsDate:dated} |orderBy: ['eventsDate','eventStime'] track by $index">
                    <div class="card mb-2" style="width: 100%; border: 0">
                        <div class="card-body dark-box">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title"><span ng-bind="x.eventName" class="ng-binding"></span>  <span class='timeremaining {{x.complete? "time-Completed":""}}'>{{x.complete? "Completed":"upcoming"}}</h4>
                                </div>
                                <div class="col-4">
                                    <div class="row float-right">


                                        <md-button class="md-icon-button md-primary" aria-label="More"  ng-hide="x.complete" ng-click="ctrl.edit(x.id)">
                                            <md-icon md-svg-icon="images/edit.svg"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button md-warn" aria-label="More"  ng-confirm-click="" confirmed-click='ctrl.delete(x.id)'>
                                            <md-icon md-svg-icon="images/bin.svg"></md-icon>
                                        </md-button>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                                </div>
                            </div>

                            <div class="row" style="width: 100%;">
                                <div class="col-md-4">
                                   Date: <span> {{x.eventsDate|date:shortDate}}</span>
                                </div>
                                <div class="col-md-4">
                                    Start Time: <span> {{x.eventStime| date:"hh:mm a"}}</span>
                                </div>
                                <div class="col-md-4">
                                    End Time: <span> {{x.eventEtime | date:"hh:mm a"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Input event-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" id="evx" ng-show="ctrl.IsVisible" style="width: 100%"  >
        <div class="col-md-12">
            <div flex-order="0" flex-order-gt-sm="2" layout="column">
                <md-subheader class="top-title">Add Event</md-subheader>
            </div>
        </div>
        <div class="col-md-12">
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="event-name">Event Name</label>
                            <input class="form-control" id="event-name" ng-model="ev.name" type="text" ng-required="required">
                            <div class="validate-error" ng-show="ctrl.validateError.eName">
                                Please enter Event name!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="event-description">Event Description</label>
                            <input class="form-control" id="event-description" type="text"
                                   ng-model="ev.descript">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Event start Date</label>
                            <md-datepicker ng-model="ev.sdate" md-placeholder="Enter start date" id="event-start-date"
                                           md-min-date="ctrl.today" class="form-control p-0" ng-change="changeEvTime(ev)"></md-datepicker>
                            <div class="validate-error" ng-show="ctrl.validateError.eSDate">
                                Please enter starting date!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="event-st-time">Event Starts at {{ev.stime}}</label>
                        <input class="form-control" id="event-st-time" type="time"
                               ng-model="ev.stime" min="ev.sdate">
                        <div class="validate-error" ng-show="ctrl.validateError.eSTime">
                            Please enter starting Time!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="event-ed-time">Event Ends at</label>
                        <input class="form-control" id="event-ed-time" type="time"
                               ng-model="ev.etime" min="ev.stime">
                        <div class="validate-error" ng-show="ctrl.validateError.eETime">
                            Please enter Ending Time!
                        </div>
                        <div class="validate-error" ng-show="ctrl.validateError.eTimeLarge">
                            Ending Time must be greater than starting time!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-6 col-md-3 align-self-end">
                        <div class="form-group text-center">
                            <md-button class="md-raised md-primary" id="saveEv" style="width: 80%;" ng-click="ctrl.update(ev)">Save</md-button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <md-button class="md-raised md-warn" style="width: 80%;"  value="Hide Angular" ng-click="ctrl.ShowHide(false)">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Edit event-->
    <div class="row main-box m-0 pt-3 pb-3 mb-3" id="edit-evx"  ng-show="ctrl.IsEditVisible"  style="width: 100%"  >
        <div class="col-md-12">
            <div flex-order="0" flex-order-gt-sm="2" layout="column">
                <md-subheader class="top-title">Edit Event</md-subheader>
            </div>
        </div>
        <div class="col-md-12">
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="event-edit-name">Event Name <i class="text-muted">Editing-
                                {{ctrl.editevList[0].eventName}}</i></label>
                            <input class="form-control"  id="event-edit-name" ng-model="editev.name" placeholder="Event Name" type="text" required>
                            <div class="validate-error" ng-show="ctrl.validateError.eName" >
                                Please enter Event name!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="event-edit-description">Event Description</label>
                            <input class="form-control" id="event-edit-description" type="text"
                                   ng-model="editev.descript">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Event start Date</label>
                            <md-datepicker ng-model="editev.sdate" md-placeholder="Enter start date" id="event-edit-start-date"
                                           md-min-date="ctrl.today"  class="form-control p-0" ng-change="changeEvEditTime(editev)"></md-datepicker>
                            <div class="validate-error" ng-show="ctrl.validateError.eSDate">
                                Please enter starting date!
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="event-st-time">Event Starts at {{editev.stime}}</label>
                        <input class="form-control" id="event-edit-st-time" type="time"
                               ng-model="editev.stime" >
                        <div class="validate-error" ng-show="ctrl.validateError.eSTime">
                            Please enter starting Time!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="event-ed-time">Event Ends at {{editev.etime}}</label>
                        <input class="form-control" id="event-edit-ed-time" type="time"
                               ng-model="editev.etime" >
                        <div class="validate-error" ng-show="ctrl.validateError.eETime">
                            Please enter Ending Time!
                        </div>
                        <div class="validate-error" ng-show="ctrl.validateError.eTimeLarge">
                            Ending Time must be greater than starting time!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-md-6">
                        <div class="form-group text-center">
                            <md-button class="md-raised md-primary" style="width: 80%;" ng-click="ctrl.editData(editev)">Save</md-button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <md-button class="md-raised md-warn" style="width: 80%;"  value="Hide Angular" ng-click="ctrl.ShowHideEdit(false)">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <!--View All Events-->
    <div class="row main-box ml-0 pt-3 pb-3 last-box" style="width: 100%;" id="view-events">
        <div class="row top-title mr-1 ml-1"  style="width: 100%">
            <div class="col">
                <div flex-order="0" flex-order-gt-sm="2" layout="column">
                    <md-subheader class="top-title">All Events</md-subheader>
                </div>
            </div>
            <div class="col">
                <md-button class="md-raised md-primary float-right" ng-click="ctrl.ShowHide(true)">Add New event</md-button>
            </div>
        </div>

        <div class="col-md-12 text-center empty-msg" ng-if="evList.length == 0">
            <img src="https://assets-ouch.icons8.com/preview/606/90c1f2d7-b42f-4d7e-9d17-e183179862b7.png" class="empty-img" alt="">
            <h3>It's Empty Here, <md-button class="md-raised md-primary" ng-click="ctrl.ShowHide(true)">Add New event</md-button>to continue!</h3>

        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 mb-2" ng-repeat="x in evList| orderBy:['complete','eventsDate','eventStime'] |limitTo:cards track by $index">
                    <div class="card mb-2" style="width: 100%; border: 0">
                        <div class="card-body dark-box">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title"><span ng-bind="x.eventName" class="ng-binding"></span>  <span class='timeremaining {{x.complete? "time-Completed":""}}'>{{x.complete? "Completed":"upcoming"}}</span></h4>
                                </div>
                                <div class="col-4">
                                    <div class="row float-right">
                                        <md-button class="md-icon-button md-primary" aria-label="More"  ng-hide="x.complete" ng-click="ctrl.edit(x.id)">
                                            <md-icon md-svg-icon="images/edit.svg"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button md-warn" aria-label="More"  ng-confirm-click="" confirmed-click='ctrl.delete(x.id)'>
                                            <md-icon md-svg-icon="images/bin.svg"></md-icon>
                                        </md-button>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="card-subtitle mb-2 text-muted"><span ng-bind="x.eventDes" class="ng-binding"></span></h6>
                                </div>
                            </div>

                            <div class="row" style="width: 100%;">
                                <div class="col-md-4">
                                    Date: <span> {{x.eventsDate|date:shortDate}}</span>
                                </div>
                                <div class="col-md-4">
                                    Start Time: <span> {{x.eventStime| date:"hh:mm a"}}</span>
                                </div>
                                <div class="col-md-4">
                                    End Time: <span> {{x.eventEtime | date:"hh:mm a"}}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <md-button ng-hide="evList.length<= cards" class="md-raised md-primary see-more" ng-click="seeMore()" >see more</md-button>
        </div>

    </div>


</div>